.slide-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center;  垂直居中 */
    flex-direction: column;
}

.images-window {
    width: 400px;
    overflow: hidden;
}

.images {    
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s;
}

img {
    /* flex默认会使用图片的高度，拉伸 */
    /* height: 100%; */
}

.button span {
    cursor: pointer;
}

.red {
    color: red;
}